h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.container {
  background-color: #0a0909;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid rgb(210, 216, 210);
  width: 100%;
  position: relative;
}

.configBtn {
  background-color: #262e2e;
}

.back-btn {
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.3rem;
}