.title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.top-nav {
  padding: 0.5rem 0 1rem 0.5rem;
  margin-bottom: -1rem;
  border-radius: 15px 15px 0px 0px;
  background-color: #262e2e;
  border: 1px solid white;
}

.container {
  background-color: #0a0909;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid rgb(210, 216, 210);
  width: 100%;
  position: relative;
}

.configBtn {
  background-color: #262e2e;
}

.back-icon {
  fill: white;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
