.container h1 {
  font-size: 2rem;
  font-style: italic;
}

.container {
  text-align: center;
  width: 100%;
  color: white;
  padding: 2rem;
  cursor: pointer;
  border-radius: 14px;
  background-color: #0a0909;
  border: 2px solid rgb(210, 216, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(143, 143, 143);
  aspect-ratio: 4/3;
}

.htmlTag {
  font-size: 1.5rem;
  color: rgb(143, 143, 143);
}

.container p {
  margin: 1.3rem;
}

.readyText {
  margin: 2rem 0 1rem 0;
}

@media only screen and (min-width: 768px) {
  .container h1 {
    font-size: 4rem;
  }
  .htmlTag {
    font-size: 3rem;
  }
}
