.wrapper {
  color: white;
  background-color: #262e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
  margin: .5rem auto;
  min-width: 200px;
}

.wrapper button {
  color: #fff;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}